@import url("fonts/fontawesome/font-awesome.min.css");
@import url("fonts/nunito/nunito.css");
@import url("bootstrap/css/bootstrap.min.css");

*, *:before, *:after {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  background-color: #EEEEEE;
}

header {
  margin-top: 60px;
  min-height: 58px;
  background-color: #00796b;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.container-header {
  padding: 0 15px 0 30px;
}

.container-main {
  padding-top: 15px;
}